body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
header {
    background-color: blue;
    color: aliceblue;
    padding: 10px;
    text-align: center;
}
footer {
    background-color: black;
    color: aliceblue;
    text-align: center;
    padding: 10px;
    width: 100%;
    position: fixed;
    bottom: 0%;
}

.container {
    display: flex;
    flex: 1;
    margin: 10px;
    padding-bottom: 50px;

}

.sidebar{
    height: 100%;
    width: 250px;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    text-align: center;
    padding: 10px;

}
li{
    list-style-type: none;
}

.map{
    flex: 1;
    position: relative;
    border-style: solid;
    border-radius: 5px;
    margin: left;
    height: calc(100vh-120px);
}